<div class="browse-media-container">
      <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
      </div>
      <div *ngIf="!mediaItems.length && !errorMessage" class="loading-message">
            Loading media items...
      </div>
      <div *ngIf="mediaItems.length > 0">
      <div class="media-grid">
            <div class="media-card" *ngFor="let media of mediaItems">
                  <div class="media-card-content">
                        <h3 class="media-title">{{ media.title }}</h3>
                        <p class="media-author">By {{ media.author }}</p>
                        <p class="media-type">{{ media.mediaType }}</p>
                        <p class="media-description">{{ media.description }}</p>
                  </div>
            </div>
      </div>
      </div>
</div>