body {
	font-family: 'arial';
	font-size: 20px;
}

.navbar {
	display: flex;
	align-items: center;
}

.navbar-nav {
	display: flex;
	align-items: center;
}

.submit-button {
	background-color: #ffffff;
	color: #000000;
	padding: 25px 25px;
	font-size: 20px;
	display: flex;
}

.artist-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.artist-list button {
	margin: 250px;
	padding: 25px 25px;
}